/* Colors Used:
Darkest gray: #161D1C
Lighter gray: #E3E7EC
Bright purple: #8276F4
White: #FFFFFF
*/


html {

scroll-behavior: smooth;
}


/* ---------------Font Family and sizes ---------------------*/
body {
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  color: #161D1C;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.5;
}

h1 {
  font-size: 2.741em;
  font-weight: 700;
}

h2 {
  font-size: 1.953em;
  font-weight: 600;
}

h3 {
  font-size: 1.563em;
  font-weight: 400;
}
h4 {
  font-size: 1em;
  font-weight: 400;
}

/* ---------------Link styling ---------------------*/
a {
  color: #161D1C;
  text-decoration: none; 
  font-weight: 700;
}
a:hover {
  color: #8276F4;
  text-decoration: underline;
  font-weight: 700;
}

/* ---------------Button styling ---------------------*/
.button {
  display: inline-block;
  background-color: #161D1C;
  color: #FFFFFF;
  font-weight: 600;
  padding: 15px 25px 15px 25px;
  border-radius: 3px;
  transition: background-color 0.3s ease; 
}

.button:hover {
  background-color: #8276F4;
  color: #FFFFFF;  
  text-decoration: none;
  font-weight: 600;
}

/* ---------------Email link styling ---------------------*/
.email-link {
  background-color: transparent;
  color: #161D1C;
  font-size:1.1em;
}

.email-link:hover {
  background-color: transparent;
  color: #8276F4;
  text-decoration: underline;
}


/* ---------------Box-sizing---------------------*/
* {
  box-sizing: border-box;
}


/* ---------------Layout styling---------------------*/
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  margin: 100px 0; 
}

main {
  padding-top: 190px;
}

/* ---------------Navigation bar elements---------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #E3E7EC;
  padding: 15px 0px;
  z-index: 7;
}

.logo {
  max-width: 80px;
  float: left
}

header ul {
  list-style-type: none;
  float: right;
  margin-top: 35px;
}

header nav ul li{
  display: inline-block;
  margin-left:15px;
}

header nav ul li a {
  padding-left: 17px;
  text-transform: uppercase;
  font-weight: 700;
}


/* --------------- Hero ---------------------*/

#project1-hero h1{text-align: center;
  padding: 20px 0px;
}
#contact-hero .resume-button {
  padding: 40px 0px;
}
#contact-hero img {
  padding: 0px 40px 0px 0px;
} 


/* ---------------Footer ---------------------*/

footer{
  background-color: #E3E7EC;
  padding: 130px 0px;
}

footer ul {
  list-style-type: none;
  margin: 20px 0px 20px -20px;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-left: 30px;
}



/* ---------------CSS Grid---------------------*/
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

   header {
    text-align: unset;
    padding: 20px 0 13px;
  }
    nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
    .col-md-6 {
    width: 50%;
  }

  #contact-hero h1 { margin-top: 0;}

  footer ul {
    float: right;
    }

   #contact h3 {
    display: inline;
    }
  }

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
.col-lg-7 {
  width: 58.33%;
  }  
.col-lg-5 {
  width: 41.66%;
  }  
#contact-hero h1 { margin-top: 0;}
}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
.col-lg-7 {
  width: 58.33%;
  }  
.col-lg-5 {
  width: 41.66%;
  }  
} 

[class*="col-"] {
  float: left;
  padding: 0px 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


/* ---------------SVG animation---------------------*/

#index-hero svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}